# -----------------------------------------
# Development Folders
# -----------------------------------------
**/notebooks/
**/data/
**/.vscode/
**/.idea/
**/node_modules/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# -----------------------------------------
# Local Python Virtual Environments
# -----------------------------------------
.venv/
venv/
env/

# -----------------------------------------
# Logs, Dumps, and Checkpoints
# -----------------------------------------
*.log
*.out
*.tmp
*.swp
*.bak

# -----------------------------------------
# Build, Distribution and Cache Files
# -----------------------------------------
*.egg-info/
.eggs/
.cache/
.dist/
build/
dist/

# -----------------------------------------
# OS-specific junk
# -----------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------
# Git / version control
# -----------------------------------------
.git/
.gitattributes
.gitignore

# -----------------------------------------
# Archives and Backup Files
# -----------------------------------------
*.tar
*.tar.gz
*.zip
*.7z
*.rar
*.bak
