@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
}

.custom-scrollbar {
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #555 #2a2a2a;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #2a2a2a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}